@model EntityLayer.Concrete.Portfolio
@{
    ViewData["Title"] = "EditPortfolio";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}



 <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Deneyim Ekle</h4>
                  


@using(Html.BeginForm("EditPortfolio","Portfolio",FormMethod.Post))
{

    @Html.HiddenFor(x=>x.PortfolioID);
    <div>
        <label>Proje Adı</label>
        @Html.TextBoxFor(x=>x.Name, new {@class="form-control"})
        <br>
    </div>

    <div>
        <label>Proje Açıklaması</label>
        @Html.TextBoxFor(x=>x.Platform, new {@class="form-control"})
        <br>
    </div>


      <div>
        <label>Görsel URL</label>
        @Html.TextBoxFor(x=>x.ImageUrl, new {@class="form-control"})
        <br>
    </div>

      <div>
        <label>Görsel Url2</label>
        @Html.TextBoxFor(x=>x.ImageUrl2, new {@class="form-control"})
        <br>
    </div>

    <div>
        <label>Görsel</label>
        @Html.TextBoxFor(x=>x.Image1, new {@class="form-control"})

        <br>
    </div>


    <div>
        <label>Görsel 2</label>
        @Html.TextBoxFor(x=>x.Image2, new {@class="form-control"})

        <br>
    </div>
    <div>
        <label>Görsel</label>
        @Html.TextBoxFor(x=>x.Image3, new {@class="form-control"})

        <br>
    </div>


    <div>
        <label>Görsel 2</label>
        @Html.TextBoxFor(x=>x.Image4, new {@class="form-control"})

        <br>
    </div>

    
    <div>
        <label>Url</label>
        @Html.TextBoxFor(x=>x.ProjectUrl, new {@class="form-control"})
        @Html.ValidationMessageFor(x=>x.ProjectUrl)

        <br>
    </div>

    <div>
        <label>Ücret</label>
        @Html.TextBoxFor(x=>x.Price, new {@class="form-control"})
        @Html.ValidationMessageFor(x=>x.Price)

        <br>
    </div>

    <div>
        <label>İlerleme</label>
        @Html.TextBoxFor(x=>x.Value, new {@class="form-control"})
        @Html.ValidationMessageFor(x=>x.Value)

        <br>
    </div>


    <div>
        <label>Durum</label>
        @Html.TextBoxFor(x=>x.Status, new {@class="form-control"})
        @Html.ValidationMessageFor(x=>x.Status)


        <br>
    </div>


    <button class="btn btn-success">Güncelle</button>
}




                  </div>
                </div>
              </div>



